*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
release.keystore
filteredhatebu_play_api.json
fabfile.py
google-services.json
upload_cert.der
