<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.gcreate.product.filteredhatebu"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".CustomApplication"
        >
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="76ab1dc0e514cde7dcadf75f1060be889e25ee39"
            />
        <activity
            android:name=".ui.feedlist.HatebuFeedActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.feeddetail.HatebuFeedDetailActivity">
        </activity>
        <activity android:name=".ui.editfilter.FilterEditActivity">
        </activity>
    </application>

</manifest>